config/biomesoplenty/biomes/defaults/
config/loliASM/
crash-reports/
logs/
mods/.index
saves/
screenshots/
vintagefix/
server-resource-packs/
usercache.json
usernamecache.json

BotaniaVars.dat
ExtraBotanyVars.dat
hei_bookmarks.ini
Xaero*/
crafttweaker.log